
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #1B2CC1;
    --secondary-color: #D89D6A;
    --accent1-color: #62C370;
    --accent2-color: #FCFFFD;
    --font-family:  "Roboto", sans-serif;
}

/* Design the header */
header {
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 150px;
    background: #62C370;
    padding: 15px 30px;
    color: #FCFFFD;
}


.logo img {
    max-width: 120px;
    height: auto;
    margin-left: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-right: 75px;       
}


.name a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #FCFFFD;
    border-radius: 5px;
    padding: 10px;
    background-color: #1B2CC1;
    border: 3px solid #FCFFFD;
    margin: 0px;
}


.employees {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2px;
    align-items: center;
}

.find {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-wrap: wrap;
}

.find img {
    max-width: 500px;
    height: auto;
    object-fit: cover;
    margin: 5;
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 100px;
    background: #62C370;
    
}

footer p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 15px;
    padding: 30px;
    color: black;
    text-align: end;
    margin-left: 200px;
}

.sociallinks {
    display: flex;
    flex: 1;
    gap: 20px;
    justify-content: space-around;
}

.sociallinks img {
    max-width: 100px;
    max-height: 50px;
    border: 3px solid blue;
    object-fit: contain;
}

.reach {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: space-around;
}

.meet {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.email,
.talk {
    flex: 1;
}

.quarters {
    display: flex;
    justify-content: space-between;
}

.text {
    text-align: center;
}