main {
    max-width: 840;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2); 
    background-color: rgba(9, 0, 128, 0.619);
    color: rgba(255, 255, 255, 0.393);
    text-align: justify;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

p {padding: 0;}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}